body {
	background-color: #FFFFFF;
    background-image: url("background-2.png");
    background-size: fill;
    background-repeat: no-repeat;
}

#client-gui {
    width: 50%;
    max-width: 680px;
    margin-left: 25%;
    text-align: center;
}

#client-prefs {
    width: 200px;
    height: 300px;
    text-align: left;
    float: left;
    margin-top: 25px;
    margin-right: 50px;
}

#client-canvas {
    float: right;
    margin-top: 25px;
}

#server-gui {
    width: 80%;
    margin-left: 10%;
    min-width: 1100px;
    float: left;
    text-align: center;
}

#server-prefs {
    width: 200px;
    height: 300px;
    text-align: left;
    float: left;
    margin-top: 5px;
}

#server-canvas {
    float: right;
    margin-top: 5px;
}

#song-search {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    float: center;
}

.center {
	display: block;
	text-align: center;
	margin-top: 100;
}

.block {
    height: 500px;
    text-align: center;
}

.centered {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
}

svg {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

canvas {
    height: 400px;
    width: 400px;
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.5);
}

p.song {
    border: 0px;
    background-color: rgba(0, 0, 0, 0.0);
    word-wrap: break-word;
    font-size: 12px;
    float: left;
    width: 80%;
    height: 75%;
    margin-left: 0%;
    text-align: center;
    vertical-align: middle;
}

h2.title {
    text-align: center;
}

h4.title {
    text-align: center;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-width: 1250px;
    margin: 0px;
    padding: 0px;
}

.folder-button {
    height: 100px;
    width: 100px;
    float: left;
    background: url("../images/folder.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: 0px;
    vertical-align: middle;
}

.file-button {
    height: 100px;
    width: 100px;
    float: left;
    background: url("../images/file.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: 0px;
}

.song-button {
    height: 100px;
    width: 100px;
    background: url("../images/song.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: 0px;
    text-align: center;
}

#toolbar {
    width: 502px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.1);
}

#songs-gui {
    width: 84%;
    margin-left: 8%;
    margin-top: 50px;
}

#files-bound-div {
    width: 502px;
    height: 550px;
    min-width: 502px;
    min-height: 550px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 0px;
    float: left;
    overflow: none;
    border-radius: 5px;
}

#files-div {
    width: 502px;
    height: 550px;
    min-width: 502px;
    min-height: 550px;
    float: left;
    overflow: auto;
}

#songs-bound-div {
    width: 502px;
    height: 600px;
    min-width: 502px;
    min-height: 600px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: -50px;
    float: right;
    overflow: none;
    border-radius: 5px;
}

#songs-bound-div-2 {
    width: 302px;
    height: 366px;
    min-width: 302px;
    min-height: 366px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    float: left;
    overflow: none;
    border-radius: 5px;
}

#songs-bound-div-3 {
    width: 302px;
    height: 400px;
    min-width: 302px;
    min-height: 400px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    float: left;
    overflow: none;
    border-radius: 5px;
}

#songs-wrapper {
    width: 302px;
    height: 366px;
    min-width: 302px;
    min-height: 366px;
    margin-top: 5px;
    text-align: center;
    float: left;
}

#songs-div {
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    float: left;
    overflow: auto;
}

#directory-label-text {
    color: rgba(80, 80, 80, 0.6);
    font-size: 10px;
    width: 80px;
    height: 40px;
    margin-top: 25px;
    margin-left: 5px;
    float: left;
    text-align: center;
    vertical-align: middle;
    word-wrap: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: table-cell;
}

#file-label-text {
    text-align: center;
    margin-top: 12px;
    color: rgba(0, 0, 0, 0.6);
    vertical-align: center;
    font-size: 10px;
    word-wrap: break-word;
    height: 80px;
    width: 45px;
    margin-left: 22.5px;
    margin-top: 25px;
    float: left;
}

.song {
    width: 90%;
    margin-left: 5%;
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgba(100, 100, 100, 0.1);
    margin-top: 5px;
    margin-bottom: 5px;
    float: left;
    border-radius: 5px;
    overflow: hidden;
    vertical-align: middle;
    text-align: center;
}

#song-search {
    width: 100%;
}

#song-search {
    background-color: rgba(255, 255, 255, 0.7);
}

#room-name {
    background-color: rgba(255, 255, 255, 0.7);
}

#current-song {
    background-image: url("../images/placeholder.png");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
}

#song-search {
    width: 100%;
}

#search-clear {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    height: 14px;
    margin: auto;
    font-size: 14px;
    cursor: pointer;
    color: #ccc;
}

#queue-wrapper {
    width: 302px;
    height: 400px;
    min-width: 302px;
    min-height: 400px;
    margin-top: 5px;
    text-align: center;
    float: left;
}

#song-controls {
    width: 100%;
    height: 72px;
    min-width: 302px;
    min-height: 72px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.1);
    float: left;
    border-radius: 5px;
}

#pause-play {
    height: 50px;
    width: 50px;
    margin: 10px 10px 10px 10px;
    float: left;
    background: url("../images/play.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: 0px;
}

#skip {
    height: 50px;
    width: 50px;
    margin: 10px 10px 10px 10px;
    float: left;
    background: url("../images/skip.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: 0px;
}

#progressbar {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px; /* (height of inner div) / 2 + padding */
  padding: 5px;
  float: left;
  width: 80%;
  height: 10px;
  margin-top: 30px;
}

#progressbar > div {
   background-color: rgba(165, 208, 254, 0.8);
   width: 40%; /* Adjust with JavaScript */
   height: 8px;
   border-radius: 5px;
   margin-top: -4px;
   float: left;
}