body {
	background-color: #FFFFFF;
    background-image: url("background-2.png");
    background-size: fill;
    background-repeat: no-repeat;
}

#client-gui {
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

#client-prefs {
    width: 200px;
    height: 300px;
    text-align: left;
    float: left;
    margin-top: 25px;
}

#client-canvas {
    float: right;
    margin-top: 25px;
}

#server-gui {
    width: 50%;
    margin-left: 25%;
    text-align: center;
}

#server-prefs {
    width: 200px;
    height: 300px;
    text-align: left;
    float: left;
    margin-top: 25px;
}

#server-canvas {
    float: right;
    margin-top: 25px;
}

#song-search {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    float: center;
}

.center {
	display: block;
	text-align: center;
	margin-top: 100;
}

.block {
    height: 500px;
    text-align: center;
}

.centered {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
}

canvas {
    height: 400px;
    width: 400px;
    display: block;
    border: 1px solid #000000;
    border-radius: 0px;
    background-color: rgba(255, 255, 255, 0.5);
}

h2.title {
    text-align: center;
}

h4.title {
    text-align: center;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    min-width: 1250px;
    margin: 0px;
    padding: 0px;
}

.folder-button {
    height: 100px;
    width: 100px;
    background: url("../images/folder.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: 0px;
}

.file-button {
    height: 100px;
    width: 100px;
    background: url("../images/file.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: 0px;
}

.song-button {
    height: 100px;
    width: 100px;
    background: url("../images/song.png");
    background-repeat: no-repeat;
    background-size: contain;
    border: 0px;
    text-align: center;
}

#toolbar {
    width: 502px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    background-color: rgba(0, 0, 0, 0.1);
}

#songs-gui {
    width: 84%;
    margin-left: 8%;
    margin-top: 50px;
}

#files-div {
    width: 502px;
    height: 550px;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-top: 0px;
    float: left;
}

#songs-div {
    width: 502px;
    height: 550px;
    overflow-y: scroll;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(0, 0, 0, 0.1);
    float: right;
}

#directory-label-text {
    text-align: center;
    margin-top: 12px;
    color: rgba(80, 80, 80, 0.6);
    vertical-align: center;
    font-size: 12px;
    word-wrap: break-word;
}

#file-label-text {
    text-align: center;
    margin-top: 12px;
    color: rgba(0, 0, 0, 0.6);
    vertical-align: center;
    font-size: 10px;
    word-wrap: break-word;
    height: 80px;
    width: 45px;
    margin-left: 22.5px;
    margin-top: 25px;